html {
  min-height: inherit;
  background-color: rgb(37, 37, 37);
}

body {
  min-height: 100%;
  background-color: rgb(37, 37, 37);
}

body main.home {
  justify-content: flex-start !important;
}

body main .homepage-avatar {
    width: 23rem;
    margin-top: 0rem;
    margin-bottom: 0.1rem !important;
}

body main h1 {
  color: white;
}

body main p {
  color: white;
}

body main p a {
  color: rgb(193, 39, 45);
}

body footer {
  color: white !important;
}

body footer p a {
  color: rgb(193, 39, 45) !important;
}